<% include partials/head.ejs %>
    <% include partials/navigation.ejs %>

        <!-- Sección de formulario -->
        <div class="container p-5">
            <div class="col-md-4 offset-md-4">
                <div class="card animated slideInUp">
                    <div class="card-header text-center bg-dark text-white">
                        <h3>Contáctame</h3>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Correo electrónico">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="" cols="30" rows="10" placeholder="Mensage"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Enviar mensage</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer.ejs %>