<% include partials/head.ejs %>
    <% include partials/navigation.ejs %>

        <div class="conteiner">
            <header class="row">
                <h1>Blog personal</h1>
                <!-- Sección de un logo-->
                <div class="col-lg-12 text logo">
                    <img id="img-log" class="animated fadeInRight" src="/img/logo-1.png" alt="logo de CONVITEDU">
                    <p>Logo de CONVITEDU diseñado con Photoshop, marca y/o logo no registrado, no se busca lucrar.</p>
                </div>
            </header>
        </div>
        <!-- Sección de redes sociales -->
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <h2>Redes sociales</h2>
                    <ul class="redes-sociales text-center">
                        <li>
                            <a href="https://www.facebook.com/joseatonio.garcialara" target=”_blank”><i class="fab fa-facebook-square fa-8x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/gar_JEIGUERT45" target=”_blank”><i class="fab fa-twitter-square fa-8x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/jeiguert45/" target=”_blank”><i class="fab fa-instagram fa-8x"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/deathlol" target=”_blank”><i class="fab fa-github-square fa-8x"></i></a>
                        </li>
                        <li>
                            <a href="http://convitedumx.blogspot.com/" target=”_blank”><i class="fab fa-blogger fa-8x"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Sección de información personal -->
                <div class="col-sm-6">
                    <h2>Información</h2>
                    <p>Me llamo José Antonio García Lara.</p>
                    <p>Soy estudiante de la Ingeniería en Sistemas Computacionales del Instituto Tecnológico Superior del Oriente del estado de Hidalgo .</p>
                    <p>Esté pequeño proyecto está desarrollado con Express, EJS, Morgan, Node.js, CSS y Bootstrap.</p>
                    <p> No creo en la idea de que tenga que escoger un solo lenguaje y/o framework, ya que algunos programadores pueden sacarles mas ventajas, también, dependiendo de las necesidades del proyecto, yo tengo mis lenguajes de programación favoritos,
                        como son:
                    </p>
                    <ul class="lang">
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>C#</li>
                        <li>C++</li>
                        <li>Java</li>
                        <li>PHP</li>
                    </ul>
                    <p>Aunque no soy experto en ninguno, porque hay demasiada documentación sobre cada lenguaje, así como frameworks para cada uno, me gusta aprender cosas nuevas de cada uno y desarrollar proyectos que me dejen crecer de forma personal y
                        profesional.
                    </p>
                    <p>A un lado están disponibles mis redes sociales, por si las quieren visitar o contactar.</p>
                </div>
            </div>
        </div>

        <% include partials/footer.ejs %>